/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/*Maxvidd container sätts till bredden på bakgrundsbilden (600*200px) eftersom texten nere till höger inte
verkar utdragen. Bakgrundsbildens höjd sätts med fast höjd som är lika med bildens d v s 200px medan
hela topbar sätts 20 px högre så att texten ovanför får plats när bilden positioneras på botten. 
FRÅGA: Finns mer flexibel lösning än att sätta fast höjd? Om man inte sätter fast höjd så bildas tomrum mellan bild och text vid resizing.

Navigering horisontell med floatade li-taggar med iliggande a-taggar som blockelement för ökad klickyta.

De två kolumnerna sätts i 55 resp 35% bredd.

Färger togs fram från bilderna i kulor och photoshop. Jag kollade flera färger i båda för jag tycker mina färger
ser gråare ut än de bifogade bilderna. Men när båda analyserar dem till samma hex-kod så gissar jag att det är rätt.
De olika färgerna på texten i den högra kolumnen var lite knöliga att få rätt på. Och varför har man två olika
h1-or på samma sida som dessutom har olika färg och storlek...? Det gjorde det omöljligt
att sätta marginaler på rubriken i em om man vill ha dem på samma höjd. Tog därför
bort marginaler på rubrikerna och lät topmarginal på p-taggarna under göra mellanrummet
mellan rubrik och stycke. En toppmarginal på divarna main- och subcontent ger
mellanrummet mellan navigering och h1-or. Maginalen gör också att skiljelinjen,
mellan kolumnerna, en vänsterborder på subcontent, inte går högre upp än h1-an.
*/

/*LAYOUT
placeringar (ex float) och ytor (marginaler och padding)*/
 html, body, ul {
    margin: 0;
    padding: 0;
}
#container {
    max-width: 600px;
    margin: 2em auto;
}
#topbar {
    text-align: right;
    height: 220px;
    background-image: url("pics/coffey.jpg");
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-position: bottom;
}
#menu ul {
    padding: 0.5em 0 0 0.5em;
}
#menu li {
    float: left;
    margin-right: 0.1em;
}
#menu li a {
    padding: 0.5em 1em;
}
#maincontent {
    float: left;
    width: 55%;
    padding: 0 0.5em;
    margin-top: 2em;
}
#maincontent img {
    float: left;
    margin: 1em 0.2em 0 0;
}
#subcontent {
    float: left;
    width: 35%;
    padding: 0 0.5em;
    margin-top: 2em;
}
#bottomcontent {
    clear: both;
    padding: 0.5em 0 1em 0.5em;
}
/*COLORS 

background-colors:
body: #fcfaf4
#topbar, #menu: #51473D
#content, .active: #EAE7D2
#menu li: #797066
#menu a:hover: #9c9084

fonts:
Text över bakgrundsbild och text i navigering: #EAE7D
(#topbar, #menu li a2)
container
Vänster kolumn, löptext i hö kolumn, footer samt text i aktivt menyval: #797066
(#maincontent, #menu .active a, #subcontent p, #bottomcontent)
Höger kolumns rubriker och länkar: #51473D 
(#subcontent h1, #subcontent h2, #subcontent li>a:) 

border:
#container: #cecab9
#maincontent border-right: #c0c0c0

*/
 body {
    background-color: #fcfaf4;
}
#topbar, #menu {
    background-color: #51473D;
}
#menu li {
    background-color: #797066
}
#content, #menu ul .active {
    background-color:#EAE7D2;
}
#menu a:hover {
    background-color: #9c9084
}
#topbar, #menu li a {
    color: #EAE7D2;
    text-transform: capitalize;
}
#maincontent, #menu .active a, #subcontent p, #bottomcontent {
    color: #797066;
}
#subcontent h1, #subcontent h2, #subcontent li>a {
    color: #51473D;
}
/*Utseende (ex typsnitt, ramar, syns elle inte*/
 body {
    font-family: Verdana, Sans-serif;
    line-height: 130%;
    font-size:1em;
}
h1, h2 {
    font-family:"Times New Roman", serif;
    font-weight: normal;
   }
   h1{
        margin: 0;
   }
   h2{
       margin: 2em 0 0 0;
   }
li {
    list-style-type: none;
}
#container {
    border: 0.1em #cecab9 solid;
}
#menu>a {
    display:none;
}
#menu ul {
    overflow: auto;
}
#menu li a {
    display: block;
    text-decoration: none;
}
#maincontent {
    border-right: 0.1em #c0c0c0 dashed;
}
#maincontent p {
    font-size: 0.8em;
}
#subcontent {
}
#subcontent h1, h2 {
    font-size: 1em;
}
#subcontent p {
    font-size: 0.6em;
}
#subcontent a {
    font-size: 0.8em;
}
#bottomcontent {
    font-size: 0.6em;
    font-style: italic;
}
