/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/*Maxvidd container 600px efter bakgrundsbild. Bakgrundsbild (600*200px) sätts med fast höjd så att texten 
ovanför får plats. Bilden positioneras på botten. Vidden sätts som bilden eftersom texten nere till höger inte
verkar utdragen.
FRÅGA: Finns mer flexibel lösning än att sätta fast höjd? Om man inte sätter fast höjd så bildas tomrum mellan bild och text vid resizing.
Navigering horisontell med floatade li-taggar med iliggande a-taggar som blockelement för ökad klickyta.
Färger togs fram från bilderna i kulor och photoshop. Jag kollade flera färger i båda för jag tycker mina färger
ser gråare ut än de bifogade bilderna. Men när båda analyserar dem till samma hex-kod så gissar jag att det är rätt.
*/

/*LAYOUT*/
 html, body, ul {
    margin: 0;
    padding: 0;
}
#container {
    max-width: 600px;
    margin: 2em auto;
}
#topbar {
    text-align: right;
    height: 220px;
    background-image: url("pics/coffey.jpg");
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-position: bottom;
}
#menu>a {
    display:none;
}
#menu ul {
    overflow: auto;
}
#menu li {
    float: left;
    margin-right: 0.1em;
}
#menu li a {
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
}
#maincontent, #subcontent, #maincontent img {
    float: left;
}
#maincontent {
    width: 55%;
    border-right: 0.1em #c0c0c0 dashed;
}
#subcontent {
    width: 35%;
}
#bottomcontent {
    clear: both;
}
ul {
    padding: 0.5em 0 0 0.5em;
}
li {
    list-style-type: none;
}
/*COLORS 

background-colors:
body: #fcfaf4
#topbar, #menu: #51473D
#content, .active: #EAE7D2
#menu li: #797066
#menu a:hover: #9c9084

fonts:
Text över bakgrundsbild och text i navigering: #EAE7D
(#topbar, #menu li a2)
container
Vänster kolumn, löptext i hö kolumn, footer samt text i aktivt menyval: #797066
(#maincontent, #menu .active a, #subcontent p, #bottomcontent)
Höger kolumns rubriker och länkar: #51473D 
(#subcontent h1, #subcontent h2, #subcontent li>a:) 

border:
#container: #cecab9
#maincontent border-right: #c0c0c0

*/
 body {
    background-color: #fcfaf4;
}
#topbar, #menu {
    background-color: #51473D;
}
#menu li {
    background-color: #797066
}
#content, #menu ul .active {
    background-color:#EAE7D2;
}
#menu a:hover {
    background-color: #9c9084
}
#topbar, #menu li a {
    color: #EAE7D2;
    text-transform: capitalize;
}
#maincontent, #menu .active a, #subcontent p, #bottomcontent {
    color: #797066;
}
#subcontent h1, #subcontent h2, #subcontent li>a {
    color: #51473D;
}
#container {
    border: 0.2em #cecab9 solid;
}
